body {
  font-family: system-ui;
  font-size: 1.2rem;
}

.container {
  max-width: 65ch;
  margin-inline: auto;
}

main {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

nav > ul {
  display: flex;
  list-style: none;
  padding: 0;
  li {
    margin-right: 1em;
  }
}

.correct,.incorrect{
  padding: 10px;
}

.correct{
  background-color: greenyellow;
}
.incorrect{
  background-color: red;
}

ul { 
  list-style: none;
}